@tailwind base;
@tailwind components;
@tailwind utilities;


.isCompelet {
    text-decoration: line-through;
}
.unCompelet {
    text-decoration: none;
}

body {
 background: rgb(7,75,70);
    background: linear-gradient(246deg, rgba(7,75,70,1) 6%, rgba(8,76,96,1) 50%, rgba(19,84,58,1) 92%);;
}